<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExtjsTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>测试JsonServlet</description>
    <display-name>TestJson</display-name>
    <servlet-name>TestJson</servlet-name>
    <servlet-class>com.ext.filter.TestJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJson</servlet-name>
    <url-pattern>/getTestJson.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DjnServlet</servlet-name>
    <servlet-class>
            com.softwarementors.extjs.djn.servlet.DirectJNgineServlet
        </servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>providersUrl</param-name>
      <param-value>djn/directprovider</param-value>
    </init-param>
    <init-param>
      <param-name>apis</param-name>
      <param-value>
            	test,
            	demo
            </param-value>
    </init-param>
    <init-param>
      <param-name>demo.apiFile</param-name>
      <param-value>demo/demoApi.js</param-value>
    </init-param>
    <init-param>
      <param-name>test.apiFile</param-name>
      <param-value>test/testApi.js</param-value>
    </init-param>
    <init-param>
      <param-name>demo.apiNamespace</param-name>
      <param-value>Ext.demo</param-value>
    </init-param>
    <init-param>
      <param-name>test.apiNamespace</param-name>
      <param-value>Ext.test</param-value>
    </init-param>
    <init-param>
      <param-name>demo.classes</param-name>
      <param-value>
              com.ext.direct.demo.demoAction,
              com.ext.direct.demo.DirectAPIDemo
          </param-value>
    </init-param>
    <init-param>
      <param-name>test.classes</param-name>
      <param-value>com.ext.direct.test.TestAction</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DjnServlet</servlet-name>
    <url-pattern>/djn/directprovider/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>图片上传演示实例</description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.ext.mvc.action.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitForm</display-name>
    <servlet-name>SubmitForm</servlet-name>
    <servlet-class>com.ext.mvc.action.SubmitForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitForm</servlet-name>
    <url-pattern>/SubmitForm.do</url-pattern>
  </servlet-mapping>
</web-app>